@import '/src/assets/styles/variable';
.buy_column {
	width: 100%;
	background-color: $darkgreen;
	color: #fff;
	padding: 20px 0px;
	margin: 120px 0px 0px 0px;

	.buy_column__container {
		.buy_column__row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.buy_column__item {
				& p {
					font-size: 18px;
					line-height: 24px;
					font-weight: 500;
				}
				& a {
					display: block;
					background-color: #fff;
					padding: 10px;
					color: #000;
					font-size: 18px;
					line-height: 24px;
					font-weight: 600;
					transition: all 0.5s ease 0s;
				}
				& a:hover {
					background-color: #149253;
					color: #fdfdfd;
				}
			}
		}
	}
}
