@import '/src/assets/styles/variable';
.sw {
	left: 0;
	top: 0;
	width: 100%;
	height: 400px;
	margin: 0px 0px 0px 0px;
	height: 100%;
	.swiper_slide {
		width: 100%;
		& img {
			@extend %image;
			//object-fit: contain;
		}
	}
}
