@import '/src/assets/styles/variable';
.button {
	@extend %buttonStyle;
	font-size: 18px;
}
.model {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000c0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 5;
	.model__content {
		position: relative;
		padding: 10px;
		flex: 0 1 90%;
		width: 80%;
		border-radius: 10px;
		background-color: #fff;
		overflow: auto;
		.model__map {
			width: 100%;
			height: 100%;
		}
	}
}
