@import '/src/assets/styles/variable';
.from {
	& input {
		display: block;
		width: 100%;
		padding: 10px;
		border-radius: 12px;
		border: 2px solid transparent;
		transition: border-color 0.5s ease 0s;
		font-size: 16px;
		background-color: $white;
	}
	& select {
		display: block;
		width: 100%;
		padding: 10px;
		border-radius: 12px;
		border: 2px solid transparent;
		transition: border-color 0.5s ease 0s;
		font-size: 16px;
		background-color: $white;
	}
	& textarea {
		display: block;
		font-size: 16px;
		width: 100%;
		padding: 10px;
		border-radius: 12px;
		border: 2px solid transparent;
		transition: border-color 0.5s ease 0s;
		resize: vertical;
		background-color: $white;
		color: #000;
	}

	& textarea:focus {
		border: 2px solid #000;
	}

	& input:focus {
		border: 2px solid #000;
	}

	& label {
		display: block;
		font-size: 16px;
		line-height: 22px;
		margin: 5px 0px;
	}

	.popup__radio h2 {
		font-size: 16px;
		margin-top: 10px;
	}

	.popup__radio input {
		display: inline;
		width: 20px;
		height: 20px;
	}

	& button {
		margin-top: 15px;
		width: 100%;
		padding: 15px 0px;
		border-radius: 12px;
		font-size: 18px;
		font-weight: 500;
		transition: background 0.5s ease 0s;
	}

	& button:hover {
		background-color: $green;
		color: #fff;
	}

	.table {
		margin-top: 20px;
		width: 100%;
		.table__info {
			display: flex;
			background-color: $darkgreen;
			color: #fff;
			& li {
				flex: 1 1 50%;
				border: 1px solid #fcfcfc;
				padding: 5px;
			}
		}
		.product__table {
			position: relative;
			padding: 0px 0px 0px 0px;
			& textarea {
				border-radius: 0px;
				resize: vertical;
				background-color: transparent;
				position: relative;
				color: #fff;
				border: 1px solid #fff;
			}
			.product__table__body {
				display: flex;
				& textarea {
					display: block;
					font-size: 16px;
					width: 100%;
					padding: 10px;
					border-radius: 0px;
					border: 2px solid transparent;
					transition: border-color 0.5s ease 0s;
					resize: vertical;
					background-color: $white;
					color: #000;
				}

				& textarea:focus {
					border: 2px solid #000;
				}
			}
		}
		.add__table {
			width: 100%;
			margin-top: 15px;
			font-size: 28px;
			position: relative;
			height: 40px;
		}

		.add__table p {
			position: absolute;
			right: 0;
			top: -10px;
			display: inline-block;
			margin-top: 15px;
			font-size: 28px;
			text-align: right;
			cursor: pointer;
			padding: 5px;
			font-family: 500;
			color: #fff;
			background-color: $darkgreen;
		}
	}

	/* 
	.product__table__minus {
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		font-size: 28px;
		font-family: 500;
		background-color: #d71f33;
		cursor: pointer;
	} */
}
