@import '/src/assets/styles/variable';
.detailDash {
	width: 100%;
	.detailDash__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.detailDash__content {
		background-color: $white;
		margin-top: 10px;
		border-radius: 5px;
		min-height: 80vh;
		padding: 10px;
		position: relative;
		z-index: 0;
	}
}
